= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!

  %p
    = f.label :password, "New Password"
    %br/
    = f.password_field :password

  %p
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation

  %p
    = f.label :current_password
    %br/
    = f.password_field :current_password

  %p
    = f.submit "Update"

%p
  = link_to "Leave HackerAcademy", registration_path(resource_name), :confirm => "Are you sure you want to leave HackerAcademy?", :method => :delete

