= form_for @contest do |f|
  -if @contest.errors.any?
    #error_explanation
      %h2= "#{pluralize(@contest.errors.count, "error")} prohibited this contest from being saved:"
      %ul
        - @contest.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :start
    = f.date_select :start
  .field
    = f.label :end
    = f.date_select :end
  .actions
    = f.submit 'Save'
