%p You have 120 seconds to submit a solution:
= form_tag("/contests/solution", method: 'POST') do
  = hidden_field_tag :level, @level
  = hidden_field_tag :contest, @contest.id
  = hidden_field_tag :puzzle, @prob[:puzzle].gsub(/\n/, 'N')
  = hidden_field_tag :words, @prob[:words].join('+')
  .field
    = label_tag :solution
    %br
    = text_area_tag :solution, "", :size => "50x20"
  = submit_tag 'Check solution'
