

.featured
  %p
    The Dojo is our monthly programming contest. <br />
    Have fun, eat, and learning something new; <br />
    you might even win an awesome prize! <br />
  %p
    Our challenges start off easy, but get trickier as the night goes on.
    You can fly solo, or work together and share the spoils.
    And don't worry, you can use any programming language.
  %p
    New coders are welcome! You can partner up and can always take advantage of those around you.
    It won't be easy, but it will be educational and fun!

  %p
    The next dojo is on <em>October 15th 1:30pm BA 1240</em>. <br /> Come and eat, code, and be merry!
%dl
  %dt Details
  %dd - Competition is 3 hours, solves as many problems as you can as fast as you can
  %dd - Bring your own laptop, make sure you have the tools you need to run your program. Make sure your laptop is charged fully, we have limited spots for power jack
  %dd - You can use any language, we only check your output

The next dojo is on <em>October 15th</em>. <br /> Come and eat, code, and be merry!

- if @contests.length != 0
  %h1 Active Contests
  %ol#contests
    - @contests.each do |contest|
      %li
        .controls
          - if can? :edit, contest
            = link_to 'Edit', edit_contest_path(contest)
          - if can? :destroy, contest
            = link_to 'Destroy', contest, :confirm => 'Are you sure?', :method => :delete
        .contest-info
          %p= link_to contest.description, contest
          %p= "Starts #{contest.start.pretty_inspect}"
          %p= "Finishes #{contest.end.pretty_inspect}"
          %p
            = duration_between DateTime.now, contest.end
            remaining

%br

- if can? :create, Contest
  = link_to 'New Contest', new_contest_path
