%h2= @contest.description
%span.controls
  - if can? :edit, @contest
    = link_to 'Edit', edit_contest_path(@contest)
  - if can? :destroy, @contest
    = link_to 'Destroy', @contest, :confirm => 'Are you sure?', :method => :delete
  = link_to 'Back', contests_path
%p
  Start:
  = @contest.start.pretty_inspect
%p
  End:
  = @contest.end.pretty_inspect
%p
  = duration_between DateTime.now, @contest.end
  remaining
%h3 Your Mission:
%p= @contest.problem
