%h2= @contest.description
%span.controls
  - if can? :edit, @contest
    = link_to 'Edit', edit_contest_path(@contest)
  - if can? :destroy, @contest
    = link_to 'Destroy', @contest, :confirm => 'Are you sure?', :method => :delete
  = link_to 'Back', contests_path
%p
  = duration_between DateTime.now, @contest.end
  remaining
%h3 Your Mission:
%p!= @contest.problem
%h2 Solve It!
%ol
  - (0..2).each do |lvl|
    %li
      = "Problem #{lvl}:"
      - if current_user.puzzle_available? @contest.puzzle_ident, lvl
        - text = current_user.has_solved?(@contest.puzzle_ident, lvl) ? 'Complete' : 'Incomplete'
        = link_to(text, controller: 'contests', action: 'problem', level: lvl, contest_id: @contest.id)
      - else
        Locked

