= form_for(@user) do |f|
  - if @user.errors.any?
    %div#error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
      - @user.errors.full_messages.each do |msg|
        %li= msg
  %div.actions
    .field
      = f.label :name
      = f.text_field :name
    .field
      = f.label :email
      = f.text_field :email, :type => :email
    

    - languages = ['Python', 'C/C++', 'Java', 'Ruby','Matlab','Octave','Perl','VB']
    - programs = ['EngSci', 'Compsci', 'ECE', 'Mech', 'Other']
    - year = ['1T1+', '1T2','1T3','1T4','1T5']
   
    .field
      = f.label :preferred_language
      = f.select :preferred_language, languages, :include_blank => ""
    .field
      = f.label :program
      = f.select :program, programs, :include_blank => ""
    .field
      = f.label :year
      = f.select :year, year, :include_blank => ""





    - if can? :manage, Achievement
      .field
        = f.label :achievements
        = select_tag("achievement_ids[]", options_for_select(Achievement.all_ids, @user.achievement_ids), {:multiple => true, :size => 6})

    = f.submit
