%h2
  = @user.name
  = "(#{@user.total_score}pts)"
- if @user.is_admin
  %h3 Site Admin
%h3 Achievements
%ul
  - @user.achievements.each do |achievement|
    %li
      = link_to achievement.name, achievement
      %em= " (#{achievement.value}pts)"

%hr
.controls
  - if can? :edit, @user
    = link_to 'Edit', edit_user_path(@user)
  = link_to 'Back', users_path

