%ol#posts
  - @posts.reverse.each do |post|
    %li
      .controls
        - if can? :edit, post
          = link_to 'Edit', edit_post_path(post)
        - if can? :destroy, post
          = link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete
      .post-info
        %h2= link_to post.title, post
        -#%p.text.hypenate= post.body[0..150]
        %p.text.hypenate
          =markdown(post.body)
        -# if post.body.length > 150
          = link_to "(More)", post
%br

- if can? :create, Post
  = link_to 'New Post', new_post_path
